.navbar {
  background-color: #0F172A;
}
.navbar .nav-link,
.navbar-brand span {
  color: #F8FAFC;
}
.navbar .nav-link:hover {
  color: #38BDF8;
}
footer {
  background-color: #1E293B;
  color: #F8FAFC;
}
